{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Listado de Asociaciones</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for asociacion in asociaciones %}
            <tr>
                <td>{{ asociacion.nombre }}</td>
                <td>{{ asociacion.correo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
